@inject NavigationManager NavigationManager
@inject IDbContextFactory<AppDbContext> AppDbContextFactory
@inject StateChangeNotifier<Type> StateChangeNotifier

<div class="card h-100">
    @{
        ((string bg, string text) style, string content) isDoneView = ToDo.IsDone ?
            (("bg-success-subtle", "text-success-emphasis"), "Done") :
            (("bg-primary-subtle", "text-primary-emphasis"), "To do");
    }
    <div class="card-header @isDoneView.style.bg @isDoneView.style.text">@isDoneView.content</div>
    <div class="card-body d-flex flex-column">
        <div class="card-body p-0">
		    <p class="card-text">@ToDo.Description</p>
        </div>
        <div class="btn-wrapper text-center d-flex justify-content-between mt-2">
            <button type="button" @onclick="Modify" class="btn btn-outline-primary">Modify</button>
            <button type="button" @onclick="Delete" class="btn btn-outline-danger">Delete</button>
        </div>

	</div>
    <div class="card-footer @isDoneView.style.bg @isDoneView.style.text">
		@if (@ToDo.DueAt is not null)
		{
			<small class="text-muted">Due: @ToDo.DueAt</small>
		}
        <ExceptionView Exception="_exception" />
	</div>
</div>


@code {
    [Parameter]
    public required ToDo ToDo { get; set; }

    private void Modify() => NavigationManager.NavigateTo($"/{ToDo.Id}");

    private Exception? _exception = null;

    private async Task Delete()
    {
        try
        {
            using var appDbContext = await AppDbContextFactory.CreateDbContextAsync();
            appDbContext.ToDos.Remove(ToDo);
            await appDbContext.SaveChangesAsync();
            await StateChangeNotifier.NotifyAsync(typeof(ToDo));
        }
        catch (Exception exception)
        {
            _exception = exception;
        }
    }
}
