@inject IDbContextFactory<AppDbContext> AppDbContextFactory
@inject StateChangeNotifier<Type> StateChangeNotifier

<EditForm Model="ToDo" OnSubmit="HandleSubmit">
	<div>
		<label>
			Is done
		</label>
		<InputCheckbox @bind-Value="ToDo.IsDone" disabled="@_isBusy" />
	</div>
	<div>
		<label>
			Description
		</label>
		<InputTextArea @bind-Value="ToDo.Description" disabled="@_isBusy" class="form-control" />
	</div>
	<div>
		<label>
			Due at
		</label>
		<InputDate @bind-Value="ToDo.DueAt" disabled="@_isBusy" class="form-control" />
	</div>
	<button type="submit" disabled="@_isBusy" class="btn btn-primary">Save</button>
	@if (_exception is not null)
	{
		<div class="text-danger">@_exception.FullMessage()</div>
	}
</EditForm>

@code {
	[Parameter]
	public required ToDo ToDo { get; set; }

	[Parameter]
	public required EventCallback<Modify> OnSubmitSuccess { get; set; }

	private bool _isBusy = false;
	private Exception? _exception;

	private async Task HandleSubmit()
	{
		try
		{
			_isBusy = true;
			_exception = null;
			ToDo.LastModifiedAt = DateTime.Now;
			using var appDbContext = await AppDbContextFactory.CreateDbContextAsync();

			if (ToDo.Id == 0)
			{
				await appDbContext.ToDos.AddAsync(ToDo);
			}
			else
			{
				appDbContext.Entry(ToDo).State = EntityState.Modified;
			}

			await appDbContext.SaveChangesAsync();
			await OnSubmitSuccess.InvokeAsync(this);
            await StateChangeNotifier.NotifyAsync(typeof(ToDo));
		}
		catch (Exception exception)
		{
			_exception = exception;
		}
		finally
		{
			_isBusy = false;
		}
	}
}
